body{
  width:100vw;
}


header{
  display: flex;
  align-items: center;
  padding: 0.2rem 1rem;
}

.logo{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.logo img{
    height: 5rem;
    width:auto;
  }

h1{
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1 rem;
}


details{
  display:block;
  position: fixed;
  top: 2rem;
  right: 1rem;
  background-color: var(--beige-color);
  border-radius: 5px; 
  margin-right: 2vw;
}

details summary::marker {
  content: "";
}

details .open {
  display: none;
  padding: 25px;
}

details[open] .open {
  display: inline;
}

details .closed {
  display: inline;
  background-color: var(--light-color);
  padding: 5px;
  border-radius: 5px;
}

details[open] .closed {
  display: none;
}


.dropp{
  line-height: 3rem;
  font-size: 1.5rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
}

.dropp img{
  max-width: 3rem;
  margin-bottom: 1rem;
}

.dropp .btn-accent {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.social img{
  width: 1.2rem;
  margin: 4rem 1rem 0rem 1rem;
}

.links{
  display:none;
}

#hero{
   padding: 0.2rem 1rem;
}

aside{
  padding: 1rem 0.2rem;
  margin-bottom: 1rem;
}

.cards{
  display:flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
  
  .card{
    padding:5px;
    font-size: 0.8rem;
    color: var(--brown-color);
    border-radius: 5px;
    max-width: 160px;
  }

  .news{
    display:flex;
    flex-direction: column;
  }

  .news img{
    width:100vw;
    height: auto;
  }

  .news-txt{
    padding:1rem;
  }

  .text-klipp {
  display: -webkit-box;
  -webkit-line-clamp: 7; 
  -webkit-box-orient: vertical;
  overflow: hidden;
}

  .las-mer {
  display: inline-block;
  margin-top: 0.5em;
  color: var(--brown-color);
  text-decoration: underline;
  padding-bottom: 3.5rem;
}

  .style-img-right{
    display: flex;
    flex-direction: column;
  }
  .stylev-img-left{
    display: flex;
    flex-direction: column;
  }
  .style-img-above{
    display: flex;
    flex-direction: column;
  }
  





#footer-wrap{
  display: flex;
  padding:1rem;
}

.footer-logo{
  display: flex;
}

.footer-logo img{
    height: 2.2rem;
    width:auto;
  }

.footer-logo-txt{
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
} 

#footer-links{
  font-size: 0.8rem;
  margin-left: 1.2rem;
  padding-top: 0.4rem;
  line-height: 1.6rem;
}

#footer-soc{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  width: 5rem;
}

#footer-soc img{
  width: 1rem;
  height: auto;
  padding: 0.6rem;
}

@media (max-width: 359px) {
  .logo{
    flex-direction: column;
    align-items: center;
  }
  }